{% extends './base.html' %}

{% block content %}

<h1 class="mt-3 mb-4">{{ article.title }}</h1>
<div>
    <p>{{ article.content }}</p>
    <p>{{ article.title }}</p>
    <p>{{ article.author }}</p>
    <p>{{ article.created_at|date:"Y-m-j H:i:s" }}<br>
    {{ article.updated_at|date:"Y-m-j H:i:s" }}</p>
</div>
<div class='mt-4'>
    <a href='{% url "bbs:update" article.pk %}'  class='btn btn-outline-primary mr-2'>編集</a>
    <a href='{% url "bbs:index" %}' class='btn btn-outline-primary'>一覧に戻る</a>
    <a href='{% url "bbs:delete" article.pk %}'  class='btn btn-danger ml-5'>削除</a>
</div>
{% endblock %}
